@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Madimi One", sans-serif;
}

.logo {
  width: 150px;
}

footer {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgb(80, 129, 186);
  color: white;
  font-size: 20px;
  border-top: 2px solid black;
}

.redes {
  margin-top: 30px;
}

.redes a {
  color: rgba(224, 197, 47, 0.707);
  font-size: 30px;
  letter-spacing: 5px;
}

.redes a:hover {
  background-color: blue;
}

.navbar {
  height: 100%;
  background-color: rgb(80, 129, 186);
  width: 100%;
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
}

.nav-link:hover {
  color: black !important;
  background-color: rgba(224, 197, 47, 0.707);
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

h1 {
  font-size: 25px;
  text-align: center;
  color: rgba(224, 197, 47, 0.707);
  text-transform: uppercase;
  background-color: black;
  margin-top: 30px;
}

.item {
  border: 2px solid rgb(80, 129, 186);
  background-color: black;
  background-size: cover;
  background-position: center;
}

.imagenes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 200px);
  padding: 20px;
  background-color: rgb(80, 129, 186);
  grid-gap: 20px;
}

.item1 {
  background-image: url(../imagenes/habitacion\ 2.jpeg);
}

.item2 {
  background-image: url(../imagenes/pileta\ 10.jpg);
}

.item3 {
  background-image: url(../imagenes/habitacion\ 3.jpeg);
}

.item4 {
  background-image: url(../imagenes/desayunador\ 1.jpeg);
}

.item5 {
  background-image: url(../imagenes/habitacion\ 8.jpeg);
}

.item6 {
  background-image: url(../imagenes/habitacion\ superior\ 2.jpeg);
}

.item7 {
  background-image: url(../imagenes/baño\ 4.jpeg);
}

.item8 {
  background-image: url(../imagenes/pileta\ 2.jpeg);
}

@media only screen and (min-width: 450px) {
  .imagenes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
}
@media only screen and (min-width: 750px) and (max-width: 1024px) {
  .imagenes {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item8 {
    grid-column: 2/4;
    grid-row: 4/5;
  }
}
@media only screen and (min-width: 1024px) {
  .imagenes {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px;
  }
}
body {
  background-color: rgb(80, 129, 186);
}

.call {
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 20px;
  border: 5px solid white;
}

h2 {
  font-size: 35px;
  padding: 20px;
  color: rgb(80, 129, 186);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 5px white;
}

.call a {
  color: white;
  background-color: rgb(80, 129, 186);
  text-decoration: none;
  text-transform: uppercase;
}

.call a:hover {
  color: black;
  background-color: rgba(224, 197, 47, 0.707);
}

.subir {
  height: 40px;
  width: 40px;
  background-color: rgba(224, 197, 47, 0.707);
  color: white;
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
}

html {
  scroll-behavior: smooth;
}

.container {
  background-color: rgba(224, 197, 47, 0.707);
  color: floralwhite;
  text-transform: uppercase;
}

.con {
  color: white;
  text-transform: uppercase;
  text-align: center;
}

header {
  height: 100%;
  width: 100%;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}/*# sourceMappingURL=estilos.css.map */